<ul class="navbar navbar-dark bg-dark">
  <li *ngIf="!auth.isLoggedIn()">Weather Forecast App</li>
  <li *ngIf="auth.isLoggedIn()"><a routerLink="/home">Welcome {{ auth.getUserDetails()?.name.charAt(0).toUpperCase() +
      auth.getUserDetails()?.name.slice(1)
      }}
    </a></li>
  <li *ngIf="auth.isLoggedIn()">
    <form (submit)="onSubmit()" #locationForm="ngForm" class="form-container">
      <input type="text" name="location" [(ngModel)]="location" class="form-control">
      <button type="submit">Search</button>
    </form>
  </li>
  <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
</ul>
