.wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #0F70B7;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 4.5rem;
  padding: 6.5rem 1rem 1rem 1rem;
  line-height: 1.2em;
}

i {
  color: #FD9428;
}

p {
  color: #ccc;
  font-size: 1.4em;
  line-height: 1.2em;
}

#map {
  min-height: 100vh;
}
