.card {
  margin-top: 6em;
}

.register {
  margin-top: 2em;
}

.register span {
  font-size: 0.9em;
}

.register span a {
  color: #0F70B7;
  text-decoration: none;
}

.register button {
  margin-top: -0.3em;
}

input {
  font-size: 1em;
}
